
#precommerce{
    background:url('../img/projects/eCommercephp.png');
    background-repeat: no-repeat;
}
#prsqlite3{
    background:url('../img/projects/sqlite.png');
    background-repeat: no-repeat;
}
#prjson{
    background:url('../img/projects/json.png');
    background-repeat: no-repeat;
}
#precatalog{
    background:url('../img/projects/eCatalog.png');
    background-repeat: no-repeat;
}